.App {
  text-align: center;
  background: lightblue;
  padding-top: 24px;
}

form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  height: 24px;
  width: 148px;
  border-radius: 4px;
  border: 1px solid darkgray;
  margin-top: 16px;
  margin-left: 8px;
}

button{
  width: 148px;
  margin: 0 auto;
  margin-top: 16px;
}

h1 {
  margin-top: 0;
}

.smurfCard {
  width: 150px;
  height: 150px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  padding: 16px;
  margin: 8px;
  border-radius: 4px;
}

.smurfContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.addSmurf-container {
  margin: 0 auto;
  width: 300px;
  height: 200px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border-radius: 4px;
}

.delete-btn {
  margin-top: 0;
}